/*Static part of page*/
body {
    background-color: #F8F9FA;
    margin: 0;
    font-family: "Poppins", serif;
}
header {
    background-color: #0078D7;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #F8F9FA;
}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
.mainSection .container {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*This section contains the first page content produced by javascript*/
.writeUpContainer h3 {
    text-align: center;
}

.openPageButtons {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: #0078D7;
    color: #F8F9FA;
    border: none;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.openPageButtons:hover {
    opacity: 0.5;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.enterButtonsContainer {
    display: flex;
    justify-content: center;
}

.enterButtonsContainer .enterButton {
    height: 50px;
    width: 150px;
    font-size: x-large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #72B01D;
    color: #F8F9FA;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.enterButtonsContainer .enterButton:hover {
    opacity: 0.5;
}

button:disabled {
    cursor: none;
    opacity: 0.5;
}
.enterButton:disabled {
    cursor: none;
    opacity: 0.5;
}


/*This section will contain the energy burnt section*/
.container .energyBurntWriteUp {
    text-align: center;
}
.energyBurntFormContainer form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.energyBurntFormContainer form div {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
}

.energyBurntFormContainer form button {
    height: 50%;
    width: 20%;
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    height: 30px;
    width: 150px;
    font-size: regular;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #72B01D;
    color: #F8F9FA;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.energyBurntFormContainer form div input {
    border: none;
    border-radius: 10px;
    background-color: #0078D7;
    text-align: center;
    height: 30px;
    width: 150px;
    color: #F8F9FA;
    font-weight: bold;
}

.energyBurntFormContainer form div input::placeholder {
    color: #F8F9FA;
    font-weight: bold;
}

.energyBurntFormContainer form div label {
    font-weight: bold;
    font-size: large;
}

/*Energy consumed page styling (Is basically the same as the above page with minor changes. */
.container .energyConsumedWriteUp {
    text-align: center;
}
.energyConsumedFormContainer form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.energyConsumedFormContainer form div {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
}

.energyConsumedFormContainer form button {
    height: 50%;
    width: 20%;
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: end;
    height: 30px;
    width: 150px;
    font-size: regular;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #72B01D;
    color: #F8F9FA;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.energyConsumedFormContainer form div input {
    border: none;
    border-radius: 10px;
    background-color: #0078D7;
    text-align: center;
    height: 30px;
    width: 150px;
    color: #F8F9FA;
    font-weight: bold;
}

.energyConsumedFormContainer form div input::placeholder {
    color: #F8F9FA;
    font-weight: bold;
}

.energyConsumedFormContainer form div label {
    font-weight: bold;
    font-size: large;
}