/*Static part of page*/
body {
    background-color: #F8F9FA;
    margin: 0;
    font-family: "Poppins", serif;
}
header {
    background-color: #0078D7;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #F8F9FA;
}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
.mainSection .container {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*This section contains the first page content produced by javascript*/
.writeUpContainer h3 {
    text-align: center;
}

.openPageButtons {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: #0078D7;
    color: #F8F9FA;
    border: none;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.openPageButtons:hover {
    opacity: 0.5;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.enterButtonsContainer {
    display: flex;
    justify-content: center;
}

.enterButtonsContainer .enterButton {
    height: 50px;
    width: 150px;
    font-size: x-large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #72B01D;
    color: #F8F9FA;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.enterButtonsContainer .enterButton:hover {
    opacity: 0.5;
}

button:disabled {
    cursor: none;
    opacity: 0.5;
}
.enterButton:disabled {
    cursor: none;
    opacity: 0.5;
}


/*This section will contain the energy burnt section*/
